@import './variables';

.tagList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0.75em;

  .tag {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 10px 10px 0;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: $dark-3;
    border-radius: 3px;

    &:last-child {
      margin-right: 0;
    }

    &.dark-1 {
      background-color: $dark-1;
    }

    &.dark-2 {
      background-color: $dark-2;
    }

    &.light-1 {
      background-color: $light-1;
    }

    &.light-2 {
      color: $dark-1;
      background-color: $light-2;
    }
  }
}