@import './variables';

.tagList {
  display: flex;
  margin: 0 0 0.75rem;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: -0.7rem;

  .tag {
    display: inline-flex;
    align-items: center;
    height: 1.6rem;
    padding: 0.2rem 0.7rem;
    margin: 0 0.7rem 0.7rem 0;
    font-size: 1rem;
    cursor: default;
    background-color: $dark-3;
    border-radius: 3px;
    box-shadow: $box-shadow-1;
    transition: background-color 0.2s ease-out;
    
    &:before {
      content: none;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      height: 100%;
      margin-right: 0.5rem;
    }
  }
}