@import './variables';
@import './helpers';
@import './mixins';

.footer {
  padding: 0.5em 1em;
  color: $light-2;
  font-size: 0.9em;
  font-weight: 600;
  font-family: $font-heading;

  .container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  p {
    margin: 0.6em 0;
  }

  .poweredBy {
    display: none;

    svg {
      color: $yellow;
      vertical-align: middle;
    }
  }
}

@include mobile-up {
  .footer {
    .container {
      flex-direction: row;
    }
    
    .poweredBy {
      display: block;
    }
  }
}