@import './variables';
@import './mixins';

.layout {
  min-height: 100vh;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  transition: padding 0.3s ease-out;

  .content {
    position: relative;
    flex-grow: 1;
    padding: 2.5em 2em;
    background-color: $dark-2;
    border-radius: 0.5em;
    align-items: stretch;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);

    .container {
      max-width: 900px;
      margin: 0 auto;
    }

    section {
      margin: 2.5em 0;
    }

    p {
      line-height: 1.6em;
    }

    h1 {
      margin: 0 0 30px 0;
    }

    img {
      max-width: 100%;
    }
  }

  @include tablet-up {
    padding: 0 2em;
  }
}