@import './variables';
@import './mixins';

.formBlock {
  .fieldGroup {
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-gap: 2em;

    .field {
      width: 100%;
      padding: 0;
      margin: 0 0 1rem 0;
      display: inline-block;
      vertical-align: top;
      border: none;
      grid-column: auto / span 4;

      > label, > legend {
        display: block;
        margin-bottom: .5rem;
        font-weight: bold;
      }

      .description {
        margin: 0.5rem 0 0;
        font-size: 0.9rem;
        color: $light-2;
        font-style: italic;
      }

      input:not([type="text"]), select {
        cursor: pointer;
      }

      &.inputField {
        input {
          width: 100%;
          padding: 0.5em 0.75em;
          background-color: $dark-3;
          border-radius: 3px;
          border: none;
          box-sizing: border-box;
          color: $white;
          line-height: 1.5em;
          font-size: 1em;
        }
      }

      &.textareaField {
        textarea {
          width: 100%;
          min-height: 6rem;
          padding: 0.5em 0.75em;
          background-color: $dark-3;
          border-radius: 3px;
          border: none;
          box-sizing: border-box;
          color: $white;
          line-height: 1.5em;
          font-size: 1em;
          resize: vertical;
        }
      }

      &.selectField {
        select {
          padding: 0.75em 0.75em;
          background-color: $dark-3;
          border-radius: 3px;
          border: none;
          box-sizing: border-box;
          color: $white;

          option {
          padding: 0.75em 0.75em;

          }
        } 
      }

      &.radioField {
        input[type="radio"] {
          margin-right: 5px;
        }
      }

      &.checkboxField {
        input[type="checkbox"] {
          margin-right: 5px;
        }
      }
    }
  }

  button[type="submit"] {
    margin-top: 1.5rem;
  }

  @include mobile-up {
    .fieldGroup {
      .field {
        &[width="100"] {
          grid-column: auto / span 4;
        }

        &[width="75"] {
          grid-column: auto / span 3;
        }

        &[width="50"] {
          grid-column: auto / span 2;
        }

        &[width="25"] {
          grid-column: auto / span 1;
        }
      }
    }
  }
}
