@import './variables';
@import './mixins';

.project {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  .image {
    margin: auto 0;
    grid-area: 1 / 1 / -1 / -1;
    font-size: 0;
    background-color: $primary-dark;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .content {
    margin: auto 2em;
    grid-area: 1 / 1 / -1 / -1;
    z-index: 1;

    .title {
      margin: 0;
      font-size: 1.4em;
    }

    .description {
      padding: 1em 1.2em;
      color: $light-2;
      border-radius: 0.5rem;
      background-color: $dark-3;
      overflow: hidden;
    }

    .stack {
      margin-top: 1em;

      .tag {
        color: $dark-1;
        background-color: $light-2;
        margin: 0 0.7em 0.7em 0;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  @include tablet-up {
    grid-template-columns: repeat(12, 1fr);

    .image {
      margin: auto 0;
      grid-area: 1 / 6 / -1 / -1;
    }

    .content {
      margin: auto 0;
      text-align: left;
      grid-area: 1 / 1 / -1 / 9;
    }

    &:nth-child(even) {
      .image {
        grid-area: 1 / 1 / -1 / 8;
      }

      .content {
        text-align: right;
        grid-area: 1 / 5 / -1 / -1;
      }

      .stack {
        justify-content: flex-end;

        .tag {
          margin: 0 0 0.7em 0.7em;

          &:last-child {
            margin-right: 0;
            margin-left: 0.7em;
          }
        }
      }
    }
  }
}