@import './variables';
@import './mixins';

.project {
  text-align: center;

  .image {
    display: inline-block;
    font-size: 0;
    background-color: $primary-darker;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: $box-shadow-1;
    
    img {
      opacity: 0.9;
    }
  }

  .content {
    margin: 1em 0 0;
    text-align: left;
    z-index: 1;

    .title {
      margin: 0 0 0.8rem 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: $light-2;
    }

    .date {
      margin: 0 0 0.1rem;
      color: $primary-light;
    }

    .description {
      margin: 0;
      padding: 0.8rem 1.1rem;
      color: $light-2;
      border-radius: 3px;
      background-color: $dark-3;
      overflow: hidden;
      box-shadow: $box-shadow-1;
    }

    .stack {
      margin-top: 1rem;
      
      .tag {
        color: $light-2;
        margin: 0 0.7rem 0.7rem 0;
        background-color: $dark-3;

        &:last-child {
          margin-left: 0;
        }
      }
    }

    .buttonList {
      margin-top: 1rem;

      .button {
        display: inline-block;
        margin-right: 1rem;

        svg {
          height: 100%;
          margin-left: 0.5rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .image {
      margin: auto 0;
      grid-area: 1 / 7 / -1 / -1;
    }

    .content {
      text-align: left;
      grid-area: 1 / 1 / -1 / 9;
    }

    &:nth-child(even) {
      .image {
        grid-area: 1 / 1 / -1 / 7;
      }

      .content {
        text-align: right;
        grid-area: 1 / 5 / -1 / -1;

        .stack {
          justify-content: flex-end;

          .tag {
            margin: 0 0 0.7rem 0.7rem;

            &:last-child {
              margin-right: 0;
              margin-left: 0.7rem;
            }
          }
        }
      }
    }
  }
}