@import './variables';
@import './mixins';

.splash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  background-color: $primary-darker;

  .centered {
    display: flex;
    min-height: 100%;
    max-width: 53em;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    margin: 0;
    font-size: 2.2em;
    text-align: center;

    span {
      display: inline-block;
      cursor: pointer;

      &.noBreak {
        white-space: nowrap;
      }
    }
  }

  .subtitle {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;

    .typed {
      font-weight: bold;
    }
  }

  @include mobile-up {
    font-size: 1.3em;
  }

  @include tablet-up {
    font-size: 1.8em;
  }

  @include desktop-up {
    .title {
      font-size: 2.6em;
    }
  }
}