@import './variables';
@import './mixins';

.splash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: $primary-dark;

  .title {
    margin: 0 0 0.2em;
    font-size: 2.5em;
    text-align: center;
    cursor: default;
    z-index: 1;

    span {
      display: inline-block;

      &.noBreak {
        white-space: nowrap;
      }
    }
  }

  .subtitle {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
    cursor: default;
    z-index: 1;

    .typed {
      font-weight: bold;
    }
  }

  .centered {
    display: flex;
    min-height: 100%;
    max-width: 53em;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include mobile-up {
    font-size: 1.3rem;
  }

  @include tablet-up {
    font-size: 1.6rem;
  }

  @include desktop-up {
    font-size: 1.8rem;
  }
}