---
new_page_extension: md
auto_deploy: false
admin_path: "/public/admin"
webhook_url: 
sections:
- type: document
  path: app.config.json
  label: Site Settings
- type: heading
  label: Content
- type: directory
  path: content/pages
  label: Pages
  create: documents
  match: "**/*"
  templates:
  - page
- type: directory
  path: content/projects
  label: Projects
  create: documents
  match: "**/*"
  templates:
  - project
- type: directory
  path: content/articles
  label: Articles
  create: all
  match: "**/*"
  templates:
  - article
- type: heading
  label: Miscellaneous
- type: directory
  path: content
  label: Everything
  create: all
  match: "**/*"
  templates:
  - page
  - article
  - project
  - site-info
upload_dir: public/uploads
public_path: public/uploads
front_matter_path: ''
use_front_matter_path: 
file_template: ":filename:"
build:
  preview_output_directory: ".next"
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run dev
