@import './variables';
@import './mixins';

.projectList {
  display: grid;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  grid-gap: 2.5em;
  max-width: 26em;

  @include tablet-up {
    grid-template-columns: repeat(2, 1fr);
    max-width: unset;
  }
}