@import './variables';
@import './mixins';

.contentBlock {
  .asideImage {
    display: block;
    max-width: 80%;
    margin: 2rem auto;
    text-align: center;

    img {
      display: block;
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: $primary-darker;
    }
  }

  @include mobile-up {
    .asideImage {
      max-width: 60%;
    }
  }

  @include tablet-up {
    display: flex;
    flex-direction: row;

    .content {
      flex: 2;
    }

    .asideImage {
      width: 30%;
      flex: 1;
      margin-left: 4rem;
    }
  }
}