$primary: #2f80ed;
$primary-light: lighten($primary, 20);

$white: #fff;
$yellow: #fcc419;

$dark-1: #121313;
$dark-2: #181a1b;
$dark-3: #2a2d2e;

$light-1: $white;
$light-2: #e2e8f0;

$font-body: 'Roboto', sans-serif;
$font-heading: 'Montserrat', sans-serif;