// https://yeun.github.io/open-color

$primary: #1971c2;
$primary-light: lighten($primary, 10);
$primary-dark: darken($primary, 10);
$primary-darker: #0F4271;

$white: #fff;
$yellow: #fcc419;

$dark-1: #181a1b;
$dark-2: #1E2021;
$dark-3: #36363a;

$light-1: $white;
$light-2: #e2e8f0;

$font-body: 'Roboto', sans-serif;
$font-heading: 'Montserrat', sans-serif;