@import './fonts';
@import './variables';
@import './mixins';
@import './typed';

body { 
  margin: 0;
  padding: 0;
  color: $white;
  font-size: 1rem;
  font-family: $font-body;
  background-color: $dark-1;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-family: $font-heading;
  line-height: unset;
  margin: unset;
}

h1 {
  margin: 0.3em 0 0.5em;
  font-size: 2em;
}

h2 {
  margin: 0.3em 0 0.5em;
  font-size: 1.4em;
}

h3 {
  margin: 0.3em 0 0.5em;
  font-size: 1.1em;
  font-weight: 400;
  color: lighten($primary, 25);
}

h4 {
  margin: 0.3em 0 0.5em;
  font-size: 0.9em;
  font-weight: 400;
}

h5 {
  margin: 0.3em 0 0.5em;
  font-size: 0.8em;
  color: lighten($primary, 20);
}

a {
  color: $primary-light;
  text-decoration: none;
  transition: color 0.3s ease-out;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

button, .btn {
  display: block;
  padding: 0.8rem 1.5rem;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, transform 0.1s ease-out;
  box-shadow: $box-shadow-1;

  &:hover, &:active {
    color: $white;
    cursor: pointer;
    background-color: $primary-dark;
    transform: translateY(2px);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

@include tablet-up {
  body {
    overflow: auto !important; // override mobile animations
  }

  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.8em;
  }
}